{% extends 'adminside/base.html' %}

{% block title %}Brands{% endblock %}

{% block content %}
     <div class="col-md-9">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="form-header">{{ brand.id|yesno:"Edit Brand,Add Brand" }}</h1>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="name" class="form-label">Brand Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" value="{{ brand.name }}" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'brand:brand_list' %}" class="btn btn-secondary">Back to list</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
