{% extends 'adminside/base.html' %}

{% load static %}

{% block title %}Order{% endblock %}

{% block content %}
       <div class="content">
        <div class="container mt-5">
            <h2 class="mb-4">Cancel Order</h2>
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to cancel order #{{ order.uuid }}?</p>
                <button type="submit" class="btn btn-danger">Cancel Order</button>
                <a href="{% url 'admin_order_list' %}" class="btn btn-secondary">Back to Order List</a>
            </form>
        </div>
    </div>
{% endblock %}





