{% extends 'adminside/base.html' %}

{% block title %}User management{% endblock %}

{% block content %}
    <div class="main-content container mt-5">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            {% if user.is_active %}
                            <form action="{% url 'block_user' user.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Block</button>
                            </form>
                            {% else %}
                            <form action="{% url 'unblock_user' user.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm">Unblock</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}


